<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Viaje Activo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-label>Nombre de usuario:</ion-label>
      <ion-text>{{ nombreUsuario }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Destino:</ion-label>
      <ion-text>{{ destinoSeleccionado === 'puenteAlto' ? 'Puente Alto' : 'Maipú' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Fecha de salida:</ion-label>
      <ion-text>{{ fechaSalida }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Cantidad de personas:</ion-label>
      <ion-text>{{ cantidadPersonas }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Costo total:</ion-label>
      <ion-text>{{ costoTotal | currency:'USD' }}</ion-text>
    </ion-item>

    <ion-item>
      <ion-label>Comentarios:</ion-label>
      <ion-text>{{ comentarios }}</ion-text>
    </ion-item>

    <!-- Enlace al mapa de Google Maps -->
    <ion-item *ngIf="mapUrl">
      <ion-label>Ver mapa del destino</ion-label>
      <ion-text>
        <a [href]="mapUrl" target="_blank">Ver en Google Maps</a>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>

