<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
    <h1>Bienvenido</h1>
    <img alt="Silhouette of mountains" src="assets/principal.png" />
    <ion-card-header>
      
    </ion-card-header>
  
    <ion-card-content>
      Imagina que sales de clases después de un largo día y necesitas regresar a casa, pero no tienes transporte propio. Con la app TeLlevo, esa preocupación desaparece. TeLlevo es una aplicación de transporte colaborativo que te conecta con otros estudiantes que comparten tu misma ruta. Ya sea que tengas un auto y quieras ofrecer un asiento a quienes viven cerca, o que estés buscando un viaje para regresar de manera segura, aquí encontrarás una solución conveniente y amigable.

Con TeLlevo, no solo compartes un viaje, sino que también reduces costos, haces nuevos amigos y contribuyes a disminuir la huella de carbono al compartir trayectos. ¡Conecta, comparte y viaja con TeLlevo!
    </ion-card-content>
  </ion-card>
  <div  class="ion-padding">
    <ion-button expand="full" color="primary" routerLink="/solicitud-viaje">Solicitar viaje</ion-button>
  </div>
</ion-content>


